body {
    background-color: blanchedalmond;

}



.naranja {
    color: orange;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {

    margin: 35px;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
}

.contenedormapa {
    display: flex;
    flex-direction: row;    
}



@media (max-width : 700px){
    .header{
        color:rgb(185, 56, 56);
        background-color: bisque;
        font-size: 30px ;
    }

    .contenedorestudio {
        width: 100%;
        height: auto;
    display:flex;
    flex-direction: column;
}

.contenedoropciones{

    width: 80%;
    background-color: rgb(85, 56, 56);
    font-size: 30px;
    margin: 20px;
}

#blanco{
    display: flex;
    flex-direction: column;

}
.contenedormapa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    margin: 20px;

}
.contenedorusuario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.contenedorestudio img{
    width: 90%;
    margin: 20px;
}

}






header h1{font-family: 'Raleway', sans-serif; 
    font-size: 50px;
    text-decoration: underline;
    
}

header img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

header h2 {
    align-items: center;
    justify-content: center;
}


section {
    display: flex;
    justify-content: space-between;
}


.estudio {
    width: 280px;
}

img {
    margin: 10px;
    border: 3px solid rgb(167, 80, 80)
}

aside {
    background-color: rgb(134, 134, 134);
    border: 5px solid white;

}





aside ul{
    display: flex;
    justify-content: space-around;
}



footer {
    background-color: rgb(137, 137, 137);
    margin: 12px;
    border: 1px solid rgb(185, 56, 56);
    display: flex;
    justify-content: space-evenly;

}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}


#blanco {
    color: azure;
}

p {
    color: 235, 235, 235;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a7a6a6;
}


li {
    color: black;
}




div {
    display: flex;
    justify-content: space-around;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 117, 24);
}

section form{
    display: flex; 
    justify-content: center;
}